*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
	font-family: 'Vollkorn' sans-serif;
}
body{
    background-color: #474b4f;
}

.main_page{
    display: flex;
    position: relative;
}

.main_page .sidebar{
    position: fixed;
    width: 245px;
    height: 100%;
    background: #000;
    padding: 30px 0;
}

.main_page .sidebar h3{
    color:#fff;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.main_page .sidebar img{
    width: 230px;
    height: 230px;
    margin-top: -5px;
    margin-right: 10px;
    margin-left: 7px;
    margin-bottom: 5px;
    background: ghostwhite;
    border-radius: 2%;
}
.main_page .sidebar h4{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225,225, 0.05);
    color: #f5efe9c9;
    display: block;
}

.main_page .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(241, 234, 234, 0.185);
    border-top: 1px solid rgba(241, 234, 234, 0.185);
}

.main_page .sidebar ul li a{
    color: #f5efe9c9;;
    display: block;
}

.main_page .sidebar ul li a .fas{
    width: 25px;

}

.main_page .sidebar ul li a .fab{
    width: 25px;
    
}

.main_page .sidebar ul li:hover{
    color: #000;
    background:#c0df96ec;
    box-shadow: 0 0 5px #c0df96ec, 0 0 25px #c0df96ec, 0 0 50px #c0df96ec,
    0 0 200px #c0df96ec;
}

.main_page .sidebar ul li:hover a{
    color: #000;;
}

.main_page .main_content{
    width: 100%;
    margin-left: 240px;

}

.main_page .main_content .header{
    padding: 20px;
    background: #c7b99c;
    color:aliceblue;
    border-bottom: 1px solid #e0e4e8;
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;

}

.main_page .main_content .header{
    background: rgb(5, 8, 0);
    width: 100%;
    height: 20%;
}

.main_page .main_content .header:hover{
    color:#86c232;
    background:rgb(5, 8, 0) ;
    box-shadow: 0 0 5px #c0df96ec, 0 0 25px #c0df96ec, 0 0 50px #c0df96ec,
    0 0 200px #c0df96ec;
}

.main_page .main_content .container .gauge {
    background-color: #6b6e7065;
    border-radius: 15%;
    margin: 10px;
    padding-bottom: 37px;
    color: #fff;

}
.main_page .main_content .container .gauge h4, .main_page .main_content .container .gauge2 h4{
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    
}

.main_page .main_content .container .gauge3 h4, .main_page .main_content .container .gauge4 h4{
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    
}

.main_page .main_content .container .gauge:hover {
    border-radius: 15%;
    margin: 10px;
    padding-bottom: 37px;
    color: #86c232;;
    font-size: 16px;
    font-weight: 500;
    background:#6b6e7065;
    box-shadow: 0 0 5px #797b7c6c, 0 0 25px #797b7c6c, 0 0 50px #797b7c6c,
    0 0 200px #797b7c6c;
}

.main_page .main_content .container .gauge2 {
    background-color: #6b6e7065;
    border-radius: 15%;
    margin: 10px;
    padding-bottom: 37px;    
}
.main_page .main_content .container .gauge2:hover{
    border-radius: 15%;
    margin: 10px;
    padding-bottom: 37px;
    color: #86c232;;
    font-size: 16px;
    font-weight: 500;
    background:#6b6e7065;
    box-shadow: 0 0 5px #797b7c6c, 0 0 25px #797b7c6c, 0 0 50px #797b7c6c,
    0 0 200px #797b7c6c;
}    
.main_page .main_content .container .gauge3, .main_page .main_content .container .gauge4 {
    background-color: #6b6e7065;
    border-radius: 15%;
    margin: 10px;
    padding-bottom: 37px;    
}

.main_page .main_content .container .gauge3:hover, .main_page .main_content .container .gauge4:hover {
    border-radius: 15%;
    margin: 10px;
    padding-bottom: 37px;
    color: #86c232;;
    font-size: 16px;
    font-weight: 500;  
    background:#6b6e7065;
    box-shadow: 0 0 5px #797b7c6c, 0 0 25px #797b7c6c, 0 0 50px #797b7c6c,
    0 0 200px #797b7c6c;  
}

.main_page .main_content .container1 .gauge5 , .main_page .main_content .container1 .gauge6{
    background-color: #6b6e7065;
    border-radius: 15%;
    margin: 10px;
    padding-bottom: 37px;
}

.main_page .main_content .container1 .gauge5 h4 , .main_page .main_content .container1 .gauge6 h4{
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
}

.main_page .main_content .container1 .gauge7 h4 , .main_page .main_content .container1 .gauge8 h4{
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
}

.main_page .main_content .container1 .gauge5:hover , .main_page .main_content .container1 .gauge6:hover{
    border-radius: 15%;
    margin: 10px;
    padding-bottom: 37px;
    color: #86c232;;
    font-size: 16px;
    font-weight: 500;
    background:#6b6e7065;
    box-shadow: 0 0 5px #797b7c6c, 0 0 25px #797b7c6c, 0 0 50px #797b7c6c,
    0 0 200px #797b7c6c;
}

.main_page .main_content .container1 .gauge7 , .main_page .main_content .container1 .gauge8{
    background-color: #6b6e7065;
    border-radius: 15%;
    margin: 10px;
    padding-bottom: 37px;
    
}
.main_page .main_content .container1 .gauge7:hover , .main_page .main_content .container1 .gauge8:hover{
    border-radius: 15%;
    margin: 10px;
    padding-bottom: 37px;
    color:#86c232;
    background:#6b6e7065;
    box-shadow: 0 0 5px #797b7c6c, 0 0 25px #797b7c6c, 0 0 50px #797b7c6c,
    0 0 200px #797b7c6c;
}

.main_page .main_content .container1 .gauge7:hover , .main_page .main_content .container1 .gauge8:hover h3{
    color: #86c232;
    font-size: 16px;
    font-weight: 500;
}

.container {
    width: 1000px;
    margin-left: 10%;
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;
}
.container1 {
    width: 1000px;
    margin-top: 40px;
    margin: 10%;
    margin-left: 10%;
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;
}


.gauge{
    width: 200px;
    height: 200px;
    margin-bottom: 10;
 
}

.gauge2, .gauge3, .gauge4, .gauge5, .gauge6, .gauge7, .gauge8{
    width: 200px;
    height: 200px;
    margin-bottom: 10;
}

a:link.button,
a:active.button,
a:visited.button,
a:hover.button {
    margin: 30px 5px 0 2px;
    padding: 7px 13px;
}
.main_page {
    width: 1517px;
    height: 900px;
}

.gauge2, .gauge3, .gauge4, .gauge5, .gauge6, .gauge7, .gauge8 h3{
    color: #fff;
}